<h1>
    Welcome to Login Component
</h1>

<p>
    Aquí trabajaremos con el login de la aplicación
</p>

<div id="simpleLogin" autor="Angel Garcia">
    <div class="contenedor-login" style="padding:4px;color:rgb(51,51,51);font-size:-45px;margin:400px 306;">
        <div class="imagen">
            <img src="https://cdn2.iconfinder.com/data/icons/website-icons/512/User_Avatar-512.png" width="100%" />
        </div>
        <form (ngSubmit)="logueo(f)" #f="ngForm">
            <input class="form-control form-input" [(ngModel)]="logins.user" name="user" type="text" placeholder="Usuario" />
            <input class="form-control form-input" [(ngModel)]="logins.password" name="password" type="password" placeholder="Contraseña" />
            <button class="btn btn-primary btn-block" type="submit">
        Inicia Sesion
      </button>
        </form>
    </div>
</div>